@import "bootstrap";

@knotswall-tint-dark: #e5d0ce;
@knotswall-tint-light: #fff9f9;
@knotswall-dark: #24645f;
@knotswall-light: #27bab5;
@knotswall-contrast: #70a442;

@brand-primary: @knotswall-dark;
@body-bg: @knotswall-tint-light;

@badge-color: @knotswall-tint-dark;
@badge-bg: @knotswall-light;

@btn-default-color: #333;
@btn-default-bg: @knotswall-tint-dark;
@btn-default-border: #ccc;

@state-info-bg: @knotswall-dark;
@state-info-text: @knotswall-tint-dark;

@link-color: @knotswall-contrast;

.btn-text-left {
  text-align: left !important;
}

dt {
  color: @knotswall-contrast;
}

h1, h2, h3, h4, h5, h6 {
  color: @knotswall-dark;
}

.laravel {
  color: #f4645f;
}

.post-excerpt {
  font-size: @font-size-base;
}

.post-excerpt p::after {
  content: " \2026";
}

.post-excerpt p::first-line {
  color: @knotswall-light;
  font-size: @font-size-large;
}

.square {
  border-radius: 0;
}

.text-knotswall-dark {
  color: @knotswall-dark;

  &:focus,
  &:hover {
    color: @knotswall-light;
  }

}


.text-knotswall-light {
  color: @knotswall-light;
}
